<!doctype html>
<html lang="en">
  <head>
  	<title>Klinik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/main.css">
        
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script src="https://kit.fontawesome.com/00e7d0c3e8.js"></script>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
                    <div class="custom-menu">
                        <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                        </button>
                    </div>
                <div class="p-4">
                    <h1><a href="index.html" class="logo">Klinik <span>Make Healthy</span></a></h1>
                    <ul class="list-unstyled components mb-5">
                        <li class="active">
                            <a href="../../index.html"><span class="fa fa-home mr-3"></span> Home</a>
                        </li>
                        <li id="side1">
                            <a href="#karyawan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-user mr-3"></span> Karyawan</a>
                            <ul class="collapse list-unstyled" id="karyawan">
                                <li id="dokter">
                                    <a href="../dokter/dokter-menu.html">Dokter</a>
                                </li>
                                <li id="karyawan-umum">
                                    <a href="../karyawan/karyawan.html">Karyawan Umum</a>
                                </li>
                            </ul>
                        </li>
                        <li id="side2">
                            <a href="#layanan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-cogs mr-3"></span> Layanan</a>
                            <ul class="collapse list-unstyled" id="layanan">
                                <li id="kamar">
                                    <a href="../kamar/kamar.html">Kamar</a>
                                </li>
                                <li id="detailLayanan">
                                    <a href="../layanan/layanan.html">Detail Layanan</a>
                                </li>
                                <li id="poli">
                                    <a href="../poli/poli.html">Poli</a>
                                </li>
                                <li id="rawatinap">
                                    <a href="../rawatinap/rawatinap.html">Rawat Inap</a>
                                </li>
                            </ul>
                        </li>
                        <li id="side3">
                            <a href="#pasien" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-user mr-3"></span> Pasien</a>
                            <ul class="collapse list-unstyled" id="pasien">
                                <li id="pasienMenu">
                                    <a href="../pasien/pasien.html">Data Pasien</a>
                                </li>
                                <li id="pendaftaran">
                                    <a href="../pendaftaran/pendaftaran.html">Pendaftaran</a>
                                </li>
                                <li id="rekammedik">
                                    <a href="rekammedik.html">Rekam Medik</a>
                                </li>
                            </ul>
                        </li>
                        <li id="side4">
                            <a href="#obat" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-plus mr-3"></span> Obat</a>
                            <ul class="collapse list-unstyled" id="obat">
                                <li id="obat">
                                    <a href="../obat/obat.html">Data Obat</a>
                                </li>
                                <li id="resep">
                                    <a href="../resep/resep.html">Resep</a>
                                </li>
                            </ul>
                        </li>
                        <li id="side5">
                            <a href="#transaksi" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-credit-card mr-3"></span> Transaksi</a>
                            <ul class="collapse list-unstyled" id="transaksi">
                                <li id="bayarobat">
                                    <a href="../bayarobat/bayarobat.html">Bayar Obat</a>
                                </li>
                                <li id="bayarlayanan">
                                    <a href="../bayarlayanan/bayarlayanan.html">Bayar Layanan</a>
                                </li>
                                <li id="pembelianobat">
                                    <a href="../pembelianobat/pembelianobat.html">Pembelian Obat</a>
                                </li>
                            </ul>
                        </li>
                        <li id="user">
                            <a href="../user/user.html"><span class="fa fa-user mr-3"></span> User</a>
                        </li>
                        <li id="supplier">
                            <a href="../supplier/supplier.html"><span class="fa fa-briefcase mr-3"></span> Supplier</a>
                        </li>
                        <li>
                            <a id="logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

        <!-- Page Content  -->
            <div id="content">
                <div class="header-dashboard">
                    <h1>Dashboard</h1>
                    <div class="profile-menu">
                        <img src="../../img/profile-user.png" alt="Profile">
                    </div>
                </div>
                <div class="content-dashboard p-2 p-md-3 pt-2">
                    <div id="dokter" class="title bg-primary p-1">
                        <img src="../../img/doctor (1).png" alt="Home-Icon">
                        <h2>R. Medik</h2>
                    </div>
                    <div class="card-table">
                        <div class="row">
                            <div class="col-sm-9">
                                <button class="btn tambah" id="btnAdd" data-toggle="modal" data-target="#">+Tambah Data</button>
                            </div>
                            <div class="col">
                                <input type="text" autocomplete="off" placeholder="Search" class="form-tambah" id="search" />
                            </div>
                        </div>
                        
                        <div class="container-fluid" style="height: 10px;"></div>
                        <div class="row">
                            <div class="col float-none">
                                <table class="table table-dark table-borderless" id="tabelangsuran">
                                    <thead>
                                        <th scope="col">Id Pasien</th>
                                        <th scope="col">Nama Pasien</th>
                                        <th scope="col">Tgl Lahir</th>
                                        <th scope="col">Tgl Daftar</th>
                                        <th scope="col">Nama Poli</th>
                                        <th scope="col">Gol. Darah</th>
                                        <th scope="col">Tek. Darah</th>
                                        <th scope="col">Berat</th>
                                        <th scope="col">Tinggi</th>
                                        <th scope="col">Keluhan</th>
                                        <th scope="col">Tindakan</th>
                                        <th scope="col">Saran</th>
                                        <th scope="col">Nama Dokter</th>
                                        <th scope="col">Diagnosa</th>
                                        <th scope="col">Action</th>
                                    </thead>
                                    <tbody class="table table-light" id="show-data">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="footer-klinik">
                    <p>Copyright</p>    
                </div>
            </div>
		</div>

        <div class="modal" id="myModal">
            <div class="modal-dialog container modal-lg">
                <div class="modal-content">
                    <div class="modal-body modal-lg">
                        <div class="container-fluid">
                            <h4 id="title-modal" class="modal-title mb-3">Tambah Data</h4>
                            <div class="form-group row">
                                <label for="petugas"  class="col-sm-2 col-form-label">ID Pasien</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-tambah" id="idpasien" placeholder="ID Pasien" autocomplete="off">
                                </div>
                                <button class="btn btn-primary" id="lookuppasien">Lookup</button>
                                <div class="col-sm-4">
                                    <input type="text" id="namapasien" class="form-tambah plaintext" readonly placeholder="Pasien">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tgldaftar" class="col-sm-2 col-form-label">Tanggal Daftar</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-tambah" id="tgldaftar">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="namapoli" class="col-sm-2 col-form-label">ID Poli</label>
                                <div class="col-sm-4">
                                    <input class="form-tambah" type="text" id="idpoli" placeholder="ID Poli" autocomplete="off">
                                </div>
                                 <button class="btn btn-primary" id="lookuppoli">Lookup</button>
                                <div class="col-sm-4">
                                    <input type="text" id="namapoli" class="form-tambah plaintext" readonly placeholder="Poli">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tekanandarah" class="col-sm-2 col-form-label">Tekanan Darah</label>
                                <div class="col-sm-3">
                                    <input class="form-tambah" type="text" id="tekdarah" placeholder="Tekanan Darah" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="berat" class="col-sm-2 col-form-label">Berat</label>
                                <div class="col-sm-3">
                                    <input class="form-tambah" type="text" id="berat" placeholder="Berat" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tinggi" class="col-sm-2 col-form-label">Tinggi</label>
                                <div class="col-sm-3">
                                    <input class="form-tambah" type="text" id="tinggi" placeholder="Tinggi" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label for="keluhan" class="col-sm-2 col-form-label">Keluhan</label>
                                <div class="col-sm-3">
                                    <textarea class="form-textarea" name="keluhan" id="keluhan" placeholder="Keluhan" cols="27" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tindakan" class="col-sm-2 col-form-label">Tindakan</label>
                                <div class="col-sm-3">
                                    <textarea class="form-textarea" name="tindakan" id="tindakan" placeholder="Tindakan" cols="27" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label for="saran" class="col-sm-2 col-form-label">Saran</label>
                                <div class="col-sm-3">
                                    <textarea class="form-textarea" name="komentar1" id="saran" placeholder="Saran" cols="27" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="namadokter" class="col-sm-2 col-form-label">ID Dokter</label>
                                <div class="col-sm-4">
                                    <input class="form-tambah" type="text" id="iddokter" placeholder="ID Dokter" autocomplete="off">
                                </div>
                                <button class="btn btn-primary" id="lookupdokter">Lookup</button>
                                <div class="col-sm-4">
                                    <input type="text" id="namadokter" class="form-tambah plaintext" readonly placeholder="Nama Dokter">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="namadokter" class="col-sm-2 col-form-label">ID Resep</label>
                                <div class="col-sm-4">
                                    <input class="form-tambah" type="text" id="idresep" placeholder="ID Resep" autocomplete="off">
                                </div>
                                <button class="btn btn-primary" id="lookupresep">Lookup</button>
                            </div>
                             <div class="form-group row">
                                 <label for="diagnosa" class="col-sm-2 col-form-label">Diagnosa</label>
                                <div class="col-sm-3">
                                    <input class="form-tambah" type="text" id="diagnosa" placeholder="Diagnosa" autocomplete="off">
                                </div>
                            </div>
                                <button class="btn btn-primary" type="button" id="btnSave">Simpan</button>
                                <button class="btn btn-primary" type="button" id="btnSave-edit">Edit</button>
                                <button class="btn btn-danger" type="button" id="btnBatal">&nbsp;Batal&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modalPasien">
            <div class="modal-dialog container modal-lg">
                <div class="modal-content" id="modal-lookup">
                    <div class="modal-body modal-lg">
                        <div class="container-fluid">
                            <h4 id="title-modal" class="modal-title mb-3">Data Pasien</h4>
                            <table class="table table-dark table-borderless" id="tabelangsuran">
                                <thead>
                                    <th scope="col">ID Pasien</th>
                                    <th scope="col">Nama Pasien</th>
                                </thead>
                                <tbody class="table table-light" id="show-look-pasien">
                                    
                                </tbody>
                            </table>
                            <button class="btn btn-danger" type="button" id="btnBatallookuppasien">&nbsp;Batal&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modalDokter">
            <div class="modal-dialog container modal-lg">
                <div class="modal-content" id="modal-lookup">
                    <div class="modal-body modal-lg">
                        <div class="container-fluid">
                            <h4 id="title-modal" class="modal-title mb-3">Data Dokter</h4>
                            <table class="table table-dark table-borderless" id="tabelangsuran">
                                <thead>
                                    <th scope="col">ID Dokter</th>
                                    <th scope="col">Nama Dokter</th>
                                </thead>
                                <tbody class="table table-light" id="show-look-dokter">
                                    
                                </tbody>
                            </table>
                            <button class="btn btn-danger" type="button" id="btnBatallookupDokter">&nbsp;Batal&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      <div class="modal" id="modalPoli">
            <div class="modal-dialog container modal-lg">
                <div class="modal-content" id="modal-lookup">
                    <div class="modal-body modal-lg">
                        <div class="container-fluid">
                            <h4 id="title-modal" class="modal-title mb-3">Data Dokter</h4>
                            <table class="table table-dark table-borderless" id="tabelangsuran">
                                <thead>
                                    <th scope="col">ID Poli</th>
                                    <th scope="col">Nama Poli</th>
                                </thead>
                                <tbody class="table table-light" id="show-look-poli">
                                    
                                </tbody>
                            </table>
                            <button class="btn btn-danger" type="button" id="btnBatallookupPoli">&nbsp;Batal&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      
      <div class="modal" id="modalResep">
            <div class="modal-dialog container modal-lg">
                <div class="modal-content" id="modal-lookup">
                    <div class="modal-body modal-lg">
                        <div class="container-fluid">
                            <h4 id="title-modal" class="modal-title mb-3">Data Dokter</h4>
                            <table class="table table-dark table-borderless" id="tabelangsuran">
                                <thead>
                                    <th scope="col">ID Resep</th>
         
                                </thead>
                                <tbody class="table table-light" id="show-look-resep">
                                    
                                </tbody>
                            </table>
                            <button class="btn btn-danger" type="button" id="btnBatallookupResep">&nbsp;Batal&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../js/popper.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="script.js"></script>
        <script src="../../js/script.js"></script>
        <script>
            let status = localStorage.getItem("status");
            if(status === "false"){
                window.location.replace("../../login.html");
            }
        </script>
  </body>
</html>